body {
  margin: 0;
  padding: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  display: flex;
}

div.year{
  text-align:left;
}

div.income{
  text-align: left;
  color:rgb(110, 221, 46)
}

div.expense{
  text-align: left;
  color: rgba(255, 0, 0, 0.74)
}

div.balance{
  text-align: right;
  color: rgba(0, 0, 255, 0.829)
}